<mat-card style="margin:10px">
  <mat-card-title>Machine Information</mat-card-title>
  <mat-card-content>
  <div fxLayout="column"
       fxLayoutGap="15px">

    <div *ngFor="let tile of details">
      <div fxLayout="row">

        <div fxFlex="30" fxLayoutAlign="space-around center">
          {{tile.key}}
        </div>
        <div fxFlex="10" fxLayoutAlign="space-around center">
          :
        </div>
        <div fxFlex fxLayoutAlign="space-around center">
          {{tile.value}}
        </div>


      </div>
    </div>
  </div>
  </mat-card-content>
</mat-card>
