<mat-card-title>IPv4 Config</mat-card-title>

<div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="30px">

  <div fxLayout="row" fxLayoutAlign="space-around center">
    <label fxFlex="30" fxFlexOffset.gt-xs="10">Mode</label>
    <label fxFlex="10">:</label>
    <mat-radio-group fxFlex>
      <mat-radio-button value="dhcp">DHCP</mat-radio-button>
      <mat-radio-button value="static">Static</mat-radio-button>
    </mat-radio-group>
  </div>


  <div fxLayout="row" fxLayoutAlign="space-around center">
    <label fxFlex="30" fxFlexOffset.gt-xs="10">IP Adress</label>
    <label fxFlex="10">:</label>
    <input matInput placeholder="" fxFlex/>
  </div>


  <div fxLayout="row" fxLayoutAlign="space-around center">
    <label fxFlex="30" fxFlexOffset.gt-xs="10">Subnet Mask</label>
    <label fxFlex="10">:</label>
    <input matInput placeholder="" fxFlex/>
  </div>


  <div fxLayout="row" fxLayoutAlign="space-around center">
    <label fxFlex="30" fxFlexOffset.gt-xs="10">Gateway</label>
    <label fxFlex="10">:</label>
    <input matInput placeholder="" fxFlex/>
  </div>


</div>
