<form [formGroup]="formdata" novalidate>
  <mat-card-title>IPv4 Config</mat-card-title>

  <mat-card-content>
    <div fxLayout="column" >

      <div fxLayout="row" >
        <div fxFlex fxLayoutAlign="center ">Mode</div>
        <label fxFlex="20" fxLayoutAlign="center ">:</label>
        <mat-radio-group fxFlex="50" fxLayoutAlign="space-evenly center" formControlName="formIpMode">
          <mat-radio-button value="dhcp">DHCP</mat-radio-button>
          <mat-radio-button value="static">Static</mat-radio-button>
        </mat-radio-group>
      </div>


      <div fxLayout="row" >
        <label fxFlex fxLayoutAlign="space-around center">IP Address</label>
        <label fxFlex="20" fxLayoutAlign="space-around center">:</label>
        <mat-form-field fxLayoutAlign="space-around center" fxFlex="50" >
          <input matInput placeholder="" formControlName="formIpAddress"/>
        </mat-form-field>
      </div>


      <div fxLayout="row" >
        <label fxFlex fxLayoutAlign="space-around center">Subnet Mask</label>
        <label fxFlex="20" fxLayoutAlign="space-around center">:</label>
        <mat-form-field fxLayoutAlign="space-around center" fxFlex="50" >
          <input matInput placeholder="" formControlName="formSubnetMask" /></mat-form-field>
      </div>


      <div fxLayout="row" >
        <label fxFlex fxLayoutAlign="space-around center">Gateway</label>
        <label fxFlex="20" fxLayoutAlign="space-around center">:</label>
        <mat-form-field fxLayoutAlign="space-around center" fxFlex="50" >
          <input matInput placeholder="" formControlName="formGateway"/></mat-form-field>
      </div>


    </div>
  </mat-card-content>
</form>
