<div fxLayout="column" fxLayoutAlign="space-between stretch" class="example-container">


  <mat-toolbar color="primary" class="mat-elevation-z6">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="margin-left: 16px;">Raspi Router</span>
  </mat-toolbar>


  <mat-sidenav-container fxFlex [style.marginTop.px]="mobileQuery.matches? 56 : 64">

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" style="width:230px"
                 [opened]="!mobileQuery.matches">
      <mat-nav-list>

        <mat-list-item routerLink="status">
          <mat-icon class="material-icons">tv</mat-icon>
          <p class="md-default-theme">Status</p>
        </mat-list-item>


        <nav>
          <mat-list-item (click)="hide_var = !hide_var">
            <mat-icon class="">inbox</mat-icon>
            <p class="md-default-theme">Interfaces</p>
            <mat-icon>keyboard_arrow_down</mat-icon>

          </mat-list-item>

          <ul style="margin:0px;" [hidden]="hide_var" *ngFor="let item of dataService.physical_interface_names">
            <mat-list-item routerLink="{{'interface/'+item.name}}">
              <a class="">
                <p flex="">{{item.name}}</p>
              </a>
            </mat-list-item>
          </ul>
        </nav>
        <mat-list-item routerLink="bridge">
          <mat-icon class="">device_hub</mat-icon>
          <p class="md-default-theme">Bridge</p>
          <mat-icon class="md-secondary"></mat-icon>
        </mat-list-item>
        <!--
        <mat-list-item>
          <mat-icon class="material-icons">&#xE7F9;</mat-icon>
          <p class="md-default-theme">Pages Feed</p>
          <div class="md-secondary">2</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="material-icons">&#xE1BC;</mat-icon>
          <p class="md-default-theme">Like Pages</p>
          <div class="md-secondary">20+</div>
        </mat-list-item>
        -->

      </mat-nav-list>
    </mat-sidenav>


    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
