
.example-sidenav {
  width:250px;

}
.mat-button{
 width:100%;
  color:white;
  height: 50px;
}
.side-nav {
  background-color: #3f51b5;
}

.sidenav-container{
  border:0px solid black;
  width: 100%;
  position: absolute;
  min-height: 89% !important;
}
