<mat-drawer-container class="sidenav-container">
  <mat-drawer class=" flexbox-parent side-nav" mode="side" opened autosize
  >
    <mat-nav-list>

        <mat-list-item routerLink="status">
          <mat-icon class="material-icons">tv</mat-icon>
          <p class="md-default-theme">Status</p>
        </mat-list-item>




      <nav>
        <mat-list-item layout="row" (click)="hide_var = !hide_var" >
          <mat-icon  class="">inbox</mat-icon>
          <p class="md-default-theme">Interfaces</p>
          <mat-icon>keyboard_arrow_down</mat-icon>

        </mat-list-item>

        <ul style="margin:0px;" [hidden]="hide_var" *ngFor="let item of physical_interface_list">
            <mat-list-item routerLink="{{'interface/'+item.name}}">
                <a class="">
                  <p flex="">{{item.name}}</p>
                </a>
            </mat-list-item>
        </ul>
      </nav>




        <mat-list-item>
          <mat-icon class="material-icons">&#xE251;</mat-icon>
          <p class="md-default-theme">Photos</p>
          <mat-icon class="md-secondary">2</mat-icon>
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="material-icons">&#xE7F9;</mat-icon>
          <p class="md-default-theme" >Pages Feed</p>
          <div class="md-secondary">2</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="material-icons">&#xE1BC;</mat-icon>
          <p class="md-default-theme">Like Pages</p>
          <div class="md-secondary">20+</div>
        </mat-list-item>



    </mat-nav-list>
  </mat-drawer>


  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>
