<form [formGroup]="formdata" novalidate>
  <div fxLayout="column" fxLayoutAlign="space-around">
    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-around center">

      <div fxFlex.gt-sm="50" fxFill>
        <mat-card>
          <mat-card-title>Basic Information</mat-card-title>
          <mat-grid-list cols="5" rowHeight="50px" *ngFor="let item of basic_info">
            <mat-grid-tile
              [colspan]="2"
              [rowspan]="1">
              {{item.key}}
            </mat-grid-tile>
            <mat-grid-tile
              [colspan]="1"
              [rowspan]="1">
              :
            </mat-grid-tile>
            <mat-grid-tile
              [colspan]="2"
              [rowspan]="1">
              {{item.value}}
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card>
      </div>
      <div fxFlex.gt-sm="50" fxFill>
        <mat-card>
          <mat-card-title>Operational Mode</mat-card-title>

          <mat-grid-list cols="6" rowHeight="50px">


            <mat-grid-tile [colspan]="2">
              <label>Mode</label>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1">:</mat-grid-tile>
            <mat-grid-tile [colspan]="3">
              <mat-form-field floatLabel="never">
                <mat-select placeholder="Select" formControlName="formMode">
                  <mat-option *ngFor="let mode of mode_options" value="{{mode.name}}">
                    {{mode.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>


            <mat-grid-tile [colspan]="2">
              Bridge Mode
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1">:</mat-grid-tile>
            <mat-grid-tile [colspan]="3">
              <mat-radio-group formControlName="formBridgeMode">
                <mat-radio-button value="wpa">WPA</mat-radio-button>
                <mat-radio-button value="hostapd">HostAPD</mat-radio-button>
              </mat-radio-group>
            </mat-grid-tile>


            <mat-grid-tile [colspan]="2">
              <label>NAT Interface</label>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1">:</mat-grid-tile>
            <mat-grid-tile [colspan]="3">
              <mat-form-field floatLabel="never">
                <mat-select placeholder="Select" formControlName="formNatInter">
                  <mat-option *ngFor="let option of nat_options" value="{{option.name}}">
                    {{option.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>


            <mat-grid-tile [colspan]="2">
              Bridge Master
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1">:</mat-grid-tile>
            <mat-grid-tile [colspan]="3">
              {{inter.BridgeMaster}}
            </mat-grid-tile>

            <mat-grid-tile [colspan]="6">
              <button type="submit" mat-raised-button color="accent">Save</button>
            </mat-grid-tile>


          </mat-grid-list>

        </mat-card>
      </div>
    </div>


    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-around center">
      <div fxFlex.gt-sm="50" fxFill>
        <mat-card >

          <app-wpa-component></app-wpa-component>

        </mat-card>
      </div>
      <div fxFlex.gt-sm="50" fxFill>
        <mat-card>
          <app-ip></app-ip>
        </mat-card>
      </div>
    </div>


  </div>
</form>
