<form [formGroup]="formdata" novalidate>
  <div fxLayout="column" fxLayoutAlign="space-around">


    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-around center">

      <div fxFlex.gt-sm="50" fxFill>
        <mat-card>
          <mat-card-title>Basic Information</mat-card-title>
          <div fxLayout="column"
               fxLayoutAlign="space-around stretch"
               *ngFor="let item of basic_info">

            <div fxLayout="row" fxLayoutAlign="space-around center" style="margin: 15px 0px 15px 0px" >
              <label fxFlex="40" fxFlexOffset="10">{{item.key}}</label>
              <label fxFlex="10">:</label>
              <label fxFlex>{{item.value}}</label>
            </div>

          </div>
        </mat-card>
      </div>

      <div fxFlex.gt-sm="50" fxFill>
        <mat-card>
          <mat-card-title>Operational Mode</mat-card-title>

          <div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="10px">

            <div fxLayout="row" fxLayoutAlign="space-around center">


              <label fxFlex="30">Mode</label>
              <label fxFlex="10">:</label>

              <mat-form-field floatLabel="never" fxFlex>
                <mat-select placeholder="Select" formControlName="formMode">
                  <mat-option *ngFor="let mode of mode_options" value="{{mode.value}}">
                    {{mode.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="space-around center">
              <label fxFlex="30">Bridge Mode</label>
              <label fxFlex="10">:</label>

              <mat-radio-group formControlName="formBridgeMode" fxFlex>
                <mat-radio-button value="wpa">WPA</mat-radio-button>
                <mat-radio-button value="hostapd">HostAPD</mat-radio-button>
              </mat-radio-group>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-around center">
              <label fxFlex="30">NAT Interface</label>
              <label fxFlex="10">:</label>


              <mat-form-field floatLabel="never" fxFlex>
                <mat-select placeholder="Select" formControlName="formNatInter">
                  <mat-option *ngFor="let option of nat_options" value="{{option.name}}">
                    {{option.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-around center">
              <label fxFlex="30">Bridge Master</label>
              <label fxFlex="10">:</label>
              <label fxFlex>{{inter.BridgeMaster}}</label>
            </div>


            <div fxLayout="row" fxLayoutAlign="center ">
              <button type="submit" mat-raised-button color="accent">Save</button>

            </div>


          </div>

        </mat-card>
      </div>
    </div>


    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-around stretch">
      <div fxFlex.gt-sm="50"  fxFlex.lt-sm="100" fxLayout="row" fxLayoutAlign="space-around center">


          <mat-card [fxShow]="formdata.value.formMode == 'default'" fxFlex>
            <app-wpa-component #wpa_comp></app-wpa-component>
          </mat-card>

          <mat-card [fxShow]="formdata.value.formMode == 'hotspot'" fxFlex>
            <app-hostapd-comp #hostapd_comp></app-hostapd-comp>
          </mat-card>


      </div>
      <div fxFlex.gt-sm="50"  fxLayout="column">


          <mat-card [fxShow]="formdata.value.formMode == 'default' || formdata.value.formMode == 'hotspot'">
            <app-ip #ip_comp></app-ip>
          </mat-card>

          <mat-card [fxShow]="formdata.value.formMode == 'hotspot'">
            <app-dnsmasq-comp #dnsmasq_comp></app-dnsmasq-comp>
          </mat-card>

      </div>
    </div>


  </div>
</form>
